@using System.Globalization
@using Adrians.Models;
@model List<HackerNewsModel>

<div>
    <h6>Top stories on Hacker News</h6>
  
    <table class="table table-striped table-hover table-responsive" style="width: 600px">
        <thead class="thead-dark">
        <tr>
            <th>Score</th>
            <th>Title</th>
            <th>By</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="https://news.ycombinator.com/item?id= @item.id">@item.score</a></td>
                <td><a href="@item.url">@item.title</a></td>
                <td>@item.by</td>
            </tr>
        }
        </tbody>
    </table>
    <p>*Click the score to get to comments</p>
</div>

@*<tbody id="table-body">
    <tr>
        <td colspan="4">Getting top stories... Please wait</td>
    </tr>
</tbody>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/topstories",
            type: "GET",
            success: function (data) {
                var tableBody = $("#table-body");
                tableBody.empty();
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    var row = "<tr><td>" + item.score + "</td><td>" + item.title + "</td><td>" + item.url + "</td><td>" + item.by + "</td></tr>";
                    tableBody.append(row);
                }
            }
        });
    });
</script>
*@