@model List<Adrians.Models.HackerNewsModel>?

<div>
    <h6>Top stories on Hacker News</h6>
  
    <table class="table table-striped table-hover table-responsive" style="width: 600px">
        <thead class="thead-dark">
        <tr>
            <th>Score</th>
            <th>Title</th>
            <th>By</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="https://news.ycombinator.com/item?id= @item.score">@item.score</a></td>
                <td><a href="@item.url">@item.title</a></td>
                <td>@item.by</td>
            </tr>
        }
        </tbody>
    </table>
    <p>*Click the score to get to comments</p>
</div>